@model Category
@{
    ViewData["Title"] = "Редактиране на " + Model.Name;
}

<h4>Редактиране на @Model.Name</h4>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="CategoryId" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" required />
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label asp-for="ImageUrl" class="form-label">URL на изображение</label>
        <input asp-for="ImageUrl" class="form-control" />
    </div>
    <button type="submit" class="btn btn-dark">Запази</button>
    <a asp-action="Index" class="btn btn-outline-secondary">Отказ</a>
</form>
